window {
  margin: 5px;
  border-radius: 10px;
  background-color: #2c323c;
  opacity: 0.9;
  font-family: FiraCode;
}

#outer-box {
  margin: 5px;
  background-color: #2c323c;
  border: 2px solid #252d30;
  border-radius: 10px;
}

#input {
  margin: 5px;
  background-color: #2c323c;
  border: 2px solid #252d30;
  color: #abb2bf;
  font-size: 18px;
}

#inner-box {
  margin: 5px;
  background-color: #2c323c;
}

#scroll {
  margin: 5px;
  background-color: #2c323c;
  border: 2px solid #252d30;
  border-radius: 10px;
  font-size: 16px;
  color: #abb2bf;
}

#scroll label {
  margin: 2px 0px;
}

#entry {
  margin: 5px;
  background-color: #2c323c;
}
#entry:selected {
  background-color: #2c323c;
  border: 2px solid #46a6b2;
  border-radius: 5px;
}

#img {
  margin: 5px;
}
#img:selected {
  background-color: #2c323c;
}

#text {
  margin: 5px;
  border: none;
  color: #abb2bf;
}
#text:selected {
  background-color: #2c323c;
}
